* {
	background-color:black;
}
#newGame {
	height: 3em;
	width: 7em;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	border-radius: 6px;
	text-decoration: none;
	background-color: #A6E22E;
	margin-top: 20px;
}

#counter {
	font-weight: bold;
	font-size: 30px;
	font-family: Arial;
	color: #fff;
}
#easy {
	text-decoration: none;
	color: white;
	background-color: darkgreen;
	margin: 5px;
}

#medium {
	text-decoration: none;
	color: white;
	background-color: goldenrod;
	margin: 5px;
}

#hard {

	text-decoration: none;
	color: white;
	background-color: darkred;
	margin: 5px;
}

.simonButton:hover {
	box-shadow: 0 0 10px #fff;
}

#red {
	background-color: darkred;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	padding: 20px;
	margin: 20px;
}

#red:active {
	background-color: red !important;
	height: 200px;
	width: 200px;
}

#yellow {
	background-color: darkorange;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	padding: 20px;
	margin: 20px;
}
#yellow:active {
	background-color: yellow !important;
	height: 200px;
	width: 200px;
}

#blue {
	background: darkblue;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	padding: 20px;
	margin: 20px;
}
#blue:active {
	background-color: lightblue !important;
	height: 200px;
	width: 200px;
}

#green {
	background-color: darkgreen;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	padding: 20px;
	margin: 20px;
}
#green:active {
	background-color: lightgreen !important;
	height: 200px;
	width: 200px;
}